.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  list-style-type: none;
}

.nav .nav-list__link {
  text-decoration: none;
  color: #796d6d;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}

.nav .nav-list__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .nav-list__item::after {
  content: '';
  display: block;
  margin: auto;
  background-color: #796d6d;
  width: 0;
  height: 2px;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .nav-list__item:hover {
  color: #6ca52a;
}

.nav .nav-list__item:hover::after {
  width: 100%;
  background: #6ca52a;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.btn {
  padding: 8px 18px;
  color: #796d6d;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  background: white;
  border-radius: 4px;
  border: 1px solid #796d6d;
}

.btn:hover {
  color: #ff4800;
  background: transparent;
  border: 1px solid #e20707;
}

#toggleContainer label {
  text-align: center;
  width: 70px;
}

#container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#toggleContainer {
  margin-bottom: 100px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tilesContainer {
  min-height: 90%;
  width: 100%;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  -o-object-fit: fill;
     object-fit: fill;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tileItem:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#galleryContainer {
  height: 500px;
  width: 800px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100%;
  width: 100%;
  background: #f6d26a;
  background: linear-gradient(111deg, #f6d26a 0%, #ff9f00 52%, #fbc564 100%);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#galleryView {
  height: 100%;
  width: 100%;
  background: #f6d26a;
  background: linear-gradient(111deg, #f6d26a 0%, #ff9f00 52%, #fbc564 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#outer3 {
  width: 100px;
  height: 40px;
  background-color: white;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: orange;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#slider3.active {
  -webkit-transform: translatex(50px);
  transform: translatex(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: orange;
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mainView {
  height: 450px;
  width: 450px;
  border-radius: 5px;
  background-color: #eb9100;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#mainView:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  -webkit-transform: skewy(5deg);
          transform: skewy(5deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  background-color: #eb9100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  -webkit-transform: skewy(-5deg);
          transform: skewy(-5deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background-color: #eb9100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.items {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  -webkit-transform: translate(-125%, -50%);
          transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  background-color: azure;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 100px;
  height: auto;
}

.intro {
  position: relative;
  height: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro::before {
  content: "";
  background-image: url("../img/university.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.intro__title {
  position: relative;
  color: #ffffff;
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}

.section {
  padding: 50px 0;
}

.section__intro {
  background: linear-gradient(111deg, #f6d26a 0%, #ff9f00 52%, #fbc564 100%);
}

.section__picnic {
  background: coral;
  position: relative;
  height: 600px;
}

.section__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 600;
  color: azure;
  padding-bottom: 50px;
  text-align: center;
}

.footer {
  background: black;
  padding: 20px 0;
}

.footer__text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: blanchedalmond;
}
/*# sourceMappingURL=main.css.map */